@charset "UTF-8";
@font-face {
  font-family: Amelia-Basic;
  src: url("../fonts/Amelia/Amelia-Basic.otf"); }

@font-face {
  font-family: Amelia-Basic-Light;
  font-weight: lighter;
  src: url("../fonts/Amelia/Amelia-Basic-Light.otf"); }

@font-face {
  font-family: Amelia-Basic-Bold;
  font-weight: bold;
  src: url("../fonts/Amelia/Amelia-Basic-Bold.otf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Amelia-Basic', sans-serif;
  background-image: url("../img/fundo.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; }
  body::after {
    content: '';
    width: 100%;
    height: 100vh;
    background-image: url(../img/fundo/caracois.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    z-index: -1; }

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px; }
  @media screen and (max-width: 635px) {
    .header {
      padding: 50px 0; } }
  @media screen and (max-width: 635px) {
    .header {
      padding: 50px 0; } }
  .header .header-title {
    color: #0099cc;
    font-size: 1.6em;
    font-family: 'Amelia-Basic-Light', sans-serif;
    text-transform: uppercase;
    padding: 0 20px; }

.main {
  margin: 0 50px 50px 50px;
  padding: 0 25px; }
  @media screen and (max-width: 635px) {
    .main {
      margin: 0;
      padding: 0 25px; } }
  .main .main-content .dados-titulo {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 20px;
    color: #0099cc;
    font-family: 'Amelia-Basic-Bold', sans-serif; }
  .main .main-content .dados-child {
    display: flex;
    flex-direction: column; }
    .main .main-content .dados-child .dado {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      font-size: 1.2em; }
      .main .main-content .dados-child .dado .tipo-iluminacao-box,
      .main .main-content .dados-child .dado .custo-iluminacao-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; }
        .main .main-content .dados-child .dado .tipo-iluminacao-box label,
        .main .main-content .dados-child .dado .custo-iluminacao-box label {
          margin-bottom: 5px;
          color: #0099cc;
          font-weight: 400; }
        .main .main-content .dados-child .dado .tipo-iluminacao-box input,
        .main .main-content .dados-child .dado .custo-iluminacao-box input {
          width: 30%;
          padding: 5px 20px;
          font-size: .8em;
          border: none;
          border: 1px solid #0099cc;
          border-radius: 100px;
          color: #0099cc;
          font-weight: 300;
          font-family: 'Amelia-Basic-Light', sans-serif; }
          @media screen and (max-width: 635px) {
            .main .main-content .dados-child .dado .tipo-iluminacao-box input,
            .main .main-content .dados-child .dado .custo-iluminacao-box input {
              width: 100%; } }
        .main .main-content .dados-child .dado .tipo-iluminacao-box input[type=number]::-webkit-inner-spin-button,
        .main .main-content .dados-child .dado .custo-iluminacao-box input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none; }
        .main .main-content .dados-child .dado .tipo-iluminacao-box input:focus,
        .main .main-content .dados-child .dado .custo-iluminacao-box input:focus {
          outline: none; }
        .main .main-content .dados-child .dado .tipo-iluminacao-box .sel,
        .main .main-content .dados-child .dado .custo-iluminacao-box .sel {
          width: 30%;
          -webkit-appearance: none;
          -moz-appearance: none;
          background: url("../img/seta.png") no-repeat 95% center;
          appearance: none;
          padding: 5px 20px;
          font-size: .8em;
          color: #808080;
          font-family: 'Amelia-Basic-Light', sans-serif;
          overflow: hidden;
          border: none;
          border: 1px solid #0099cc;
          border-radius: 100px;
          background-color: #fff; }
          @media screen and (max-width: 635px) {
            .main .main-content .dados-child .dado .tipo-iluminacao-box .sel,
            .main .main-content .dados-child .dado .custo-iluminacao-box .sel {
              width: 100%; } }
        .main .main-content .dados-child .dado .tipo-iluminacao-box .sel:focus,
        .main .main-content .dados-child .dado .custo-iluminacao-box .sel:focus {
          outline: none; }
        .main .main-content .dados-child .dado .tipo-iluminacao-box .sel::-ms-expand,
        .main .main-content .dados-child .dado .custo-iluminacao-box .sel::-ms-expand {
          display: none; }
        .main .main-content .dados-child .dado .tipo-iluminacao-box .sel-disable,
        .main .main-content .dados-child .dado .custo-iluminacao-box .sel-disable {
          background-color: #0099cc;
          background-image: none;
          color: #fff; }
    .main .main-content .dados-child #fonte-luz {
      position: relative; }
      .main .main-content .dados-child #fonte-luz .popup-text {
        font-size: .9em;
        font-weight: 300;
        text-transform: none;
        width: 235px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #4D4D4D;
        text-align: center;
        border-radius: 6px;
        padding: 8px 2px;
        position: absolute;
        z-index: 1;
        right: 150px;
        top: 0; }
        .main .main-content .dados-child #fonte-luz .popup-text::after {
          content: '';
          font-family: 'Amelia-Basic-Light', sans-serif;
          position: absolute;
          top: 100%;
          left: 30%;
          border-width: 8px;
          border-style: solid;
          border-color: #fff transparent transparent transparent; }
    .main .main-content .dados-child .tabelas #exterior-ilu,
    .main .main-content .dados-child .tabelas p {
      color: #0099CC; }
    .main .main-content .dados-child .tabelas span {
      text-align: left;
      text-transform: uppercase;
      font-size: 1.3em;
      color: #0099cc;
      font-family: 'Amelia-Basic-Bold', sans-serif; }
    .main .main-content .dados-child .tabelas table {
      background-color: rgba(242, 242, 242, 0); }
      .main .main-content .dados-child .tabelas table tbody .titulo_row {
        background-color: rgba(242, 242, 242, 0.9); }
      .main .main-content .dados-child .tabelas table tbody tr,
      .main .main-content .dados-child .tabelas table tbody .textTR {
        color: #0099cc;
        text-align: center; }
        .main .main-content .dados-child .tabelas table tbody tr .tituloTH,
        .main .main-content .dados-child .tabelas table tbody .textTR .tituloTH {
          text-align: center;
          vertical-align: middle;
          color: #0099cc; }
        .main .main-content .dados-child .tabelas table tbody tr td,
        .main .main-content .dados-child .tabelas table tbody tr td.in,
        .main .main-content .dados-child .tabelas table tbody .textTR td,
        .main .main-content .dados-child .tabelas table tbody .textTR td.in {
          padding: 0;
          text-align: center;
          vertical-align: middle;
          margin: 0;
          background-color: rgba(255, 255, 255, 0.9);
          /*.form-control
                                    width: 100px*/ }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput {
            border: none;
            border-radius: 0;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: rgba(255, 255, 255, 0.7); }
          .main .main-content .dados-child .tabelas table tbody tr td input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabelas table tbody tr td.in input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabelas table tbody .textTR td input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none; }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput::-webkit-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput::-moz-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput:-ms-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput:-moz-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td i.fa-times,
          .main .main-content .dados-child .tabelas table tbody tr td.in i.fa-times,
          .main .main-content .dados-child .tabelas table tbody .textTR td i.fa-times,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in i.fa-times {
            color: red;
            padding: 8px; }
          .main .main-content .dados-child .tabelas table tbody tr td i.fa-plus,
          .main .main-content .dados-child .tabelas table tbody tr td.in i.fa-plus,
          .main .main-content .dados-child .tabelas table tbody .textTR td i.fa-plus,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in i.fa-plus {
            color: green;
            padding: 8px; }
          .main .main-content .dados-child .tabelas table tbody tr td .but-dados,
          .main .main-content .dados-child .tabelas table tbody tr td.in .but-dados,
          .main .main-content .dados-child .tabelas table tbody .textTR td .but-dados,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in .but-dados {
            width: 100%;
            height: 34px;
            border: none;
            background-color: rgba(255, 255, 255, 0.9); }
            .main .main-content .dados-child .tabelas table tbody tr td .but-dados:hover,
            .main .main-content .dados-child .tabelas table tbody tr td.in .but-dados:hover,
            .main .main-content .dados-child .tabelas table tbody .textTR td .but-dados:hover,
            .main .main-content .dados-child .tabelas table tbody .textTR td.in .but-dados:hover {
              text-decoration: underline; }
            .main .main-content .dados-child .tabelas table tbody tr td .but-dados:focus,
            .main .main-content .dados-child .tabelas table tbody tr td.in .but-dados:focus,
            .main .main-content .dados-child .tabelas table tbody .textTR td .but-dados:focus,
            .main .main-content .dados-child .tabelas table tbody .textTR td.in .but-dados:focus {
              outline: none; }
        .main .main-content .dados-child .tabelas table tbody tr td.select-cell-2,
        .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell-2 {
          padding: 0;
          vertical-align: top; }
          .main .main-content .dados-child .tabelas table tbody tr td.select-cell-2 select,
          .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell-2 select {
            width: 100%;
            height: 34px;
            border: none;
            background-color: transparent;
            text-align-last: center; }
            .main .main-content .dados-child .tabelas table tbody tr td.select-cell-2 select:focus,
            .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell-2 select:focus {
              outline: none; }
            .main .main-content .dados-child .tabelas table tbody tr td.select-cell-2 select .op,
            .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell-2 select .op {
              text-align-last: center; }
        .main .main-content .dados-child .tabelas table tbody tr td.select-cell,
        .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell {
          padding: 0;
          vertical-align: top; }
          .main .main-content .dados-child .tabelas table tbody tr td.select-cell select,
          .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell select {
            width: 100%;
            height: 34px;
            border: none;
            background-color: transparent;
            text-align-last: center; }
            .main .main-content .dados-child .tabelas table tbody tr td.select-cell select:focus,
            .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell select:focus {
              outline: none; }
            .main .main-content .dados-child .tabelas table tbody tr td.select-cell select .op,
            .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell select .op {
              text-align-last: center; }
        .main .main-content .dados-child .tabelas table tbody tr td.outro-hide,
        .main .main-content .dados-child .tabelas table tbody .textTR td.outro-hide {
          display: none; }
        .main .main-content .dados-child .tabelas table tbody tr td.check-cell,
        .main .main-content .dados-child .tabelas table tbody .textTR td.check-cell {
          width: 150px;
          background: #fff;
          margin: 20px auto;
          position: relative; }
          .main .main-content .dados-child .tabelas table tbody tr td.check-cell:after,
          .main .main-content .dados-child .tabelas table tbody .textTR td.check-cell:after {
            content: 'Não';
            color: #0099cc;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 0;
            font: 1em Amelia-Basic-Light, sans-serif;
            font-weight: bold; }
          .main .main-content .dados-child .tabelas table tbody tr td.check-cell:before,
          .main .main-content .dados-child .tabelas table tbody .textTR td.check-cell:before {
            content: 'Sim';
            color: #0099cc;
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 0;
            font: 1em Amelia-Basic-Light, sans-serif;
            font-weight: bold; }
          .main .main-content .dados-child .tabelas table tbody tr td.check-cell label,
          .main .main-content .dados-child .tabelas table tbody .textTR td.check-cell label {
            display: block;
            width: 50%;
            height: 100%;
            cursor: pointer;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            background: #ffffff;
            border: 2px solid rgba(0, 0, 0, 0.1);
            transition: all 0.4s ease; }
          .main .main-content .dados-child .tabelas table tbody tr td.check-cell input[type=checkbox],
          .main .main-content .dados-child .tabelas table tbody .textTR td.check-cell input[type=checkbox] {
            visibility: hidden; }
            .main .main-content .dados-child .tabelas table tbody tr td.check-cell input[type=checkbox]:checked + label,
            .main .main-content .dados-child .tabelas table tbody .textTR td.check-cell input[type=checkbox]:checked + label {
              left: 75px; }
    .main .main-content .dados-child #resumo span {
      text-align: left;
      text-transform: uppercase;
      font-size: 1.3em;
      color: #0099cc;
      font-family: 'Amelia-Basic-Bold', sans-serif; }
    .main .main-content .dados-child #resumo table {
      background-color: #f2f2f2;
      width: 40%; }
      .main .main-content .dados-child #resumo table tbody tr,
      .main .main-content .dados-child #resumo table tbody .textTR {
        color: #0099cc;
        text-align: left; }
        .main .main-content .dados-child #resumo table tbody tr .tituloTH,
        .main .main-content .dados-child #resumo table tbody .textTR .tituloTH {
          text-align: center;
          vertical-align: middle;
          color: #0099cc; }
        .main .main-content .dados-child #resumo table tbody tr td,
        .main .main-content .dados-child #resumo table tbody tr td.in,
        .main .main-content .dados-child #resumo table tbody .textTR td,
        .main .main-content .dados-child #resumo table tbody .textTR td.in {
          padding: 5px 10px;
          text-align: left;
          vertical-align: middle;
          margin: 0;
          background-color: #fff; }
        .main .main-content .dados-child #resumo table tbody tr td.center,
        .main .main-content .dados-child #resumo table tbody .textTR td.center {
          text-align: center;
          color: #696969;
          /*.form-control
                                    width: 100px*/ }
          .main .main-content .dados-child #resumo table tbody tr td.center .xInput,
          .main .main-content .dados-child #resumo table tbody .textTR td.center .xInput {
            border: none;
            border-radius: 0;
            text-align: center;
            margin: 0; }
          .main .main-content .dados-child #resumo table tbody tr td.center .xInput::-webkit-input-placeholder,
          .main .main-content .dados-child #resumo table tbody .textTR td.center .xInput::-webkit-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child #resumo table tbody tr td.center .xInput::-moz-placeholder,
          .main .main-content .dados-child #resumo table tbody .textTR td.center .xInput::-moz-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child #resumo table tbody tr td.center .xInput:-ms-input-placeholder,
          .main .main-content .dados-child #resumo table tbody .textTR td.center .xInput:-ms-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child #resumo table tbody tr td.center .xInput:-moz-placeholder,
          .main .main-content .dados-child #resumo table tbody .textTR td.center .xInput:-moz-placeholder {
            color: #DCDCDC; }
    .main .main-content .dados-child .step {
      display: none; }

.but-2,
.recolhe-medidas-but,
.end-step,
.analise {
  padding: 20px 0;
  display: flex;
  justify-content: space-between; }
  .but-2 .but,
  .recolhe-medidas-but .but,
  .end-step .but,
  .analise .but {
    font-size: 1.1em;
    padding: 8px 25px;
    background-color: #0099cc;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-family: 'Amelia-Basic-Light', sans-serif;
    transition: all .2s; }
    .but-2 .but:focus,
    .recolhe-medidas-but .but:focus,
    .end-step .but:focus,
    .analise .but:focus {
      outline: none; }
    .but-2 .but:hover,
    .recolhe-medidas-but .but:hover,
    .end-step .but:hover,
    .analise .but:hover {
      background-color: #67C8FF; }
  .but-2 button#analise-but,
  .but-2 button#resumo-but,
  .but-2 button#fonte-luz-but,
  .but-2 button#medidas-but,
  .recolhe-medidas-but button#analise-but,
  .recolhe-medidas-but button#resumo-but,
  .recolhe-medidas-but button#fonte-luz-but,
  .recolhe-medidas-but button#medidas-but,
  .end-step button#analise-but,
  .end-step button#resumo-but,
  .end-step button#fonte-luz-but,
  .end-step button#medidas-but,
  .analise button#analise-but,
  .analise button#resumo-but,
  .analise button#fonte-luz-but,
  .analise button#medidas-but {
    float: right; }
  .but-2 .anterior,
  .recolhe-medidas-but .anterior,
  .end-step .anterior,
  .analise .anterior {
    display: none; }

.step-but {
  display: none; }

.but-2::after,
.recolhe-medidas-but::after,
.analise::after,
.end-step::after {
  content: '';
  clear: both;
  display: table; }

.print_link {
  border: none;
  color: #0099cc;
  text-decoration: underline;
background-color: transparent;
}
